
.column {
    margin: auto;
    margin-top: 150px;
    float: left;
    width: 25%;
}
.content
{
    align-items: center;
    background-color: #0e0d0d;
    display:flex;
    text-align: center;
    height: 315px;
    width:215px;
    margin: 0 auto;
}
.text{
    font-family: sans-serif;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    color: #858383; 
}
.image
{ 
    height: 30px;
    width:215px;
    margin: auto;
    display:block;
    text-align: center;
    font-family: sans-serif;
    font-style: italic  ;
    color: #6d6868; 
    background-color: #d3d3d3;
}